<h1>School Class Form</h1>
<%= form_for(@school_class) do |klass| %>
    <%= klass.label :title %>
    <%= klass.text_field :title %>
    <br>
    <%= klass.label :room_number %>
    <%= klass.text_field :room_number %>
    <br><br>
    <%= klass.submit %>
    
<% end %>